*{
    overflow: auto;
}

body{
    background-color: #8BA18B;
    font-family : Arial;
    margin: 0;
}

p.categorie{
    background-color: black;
    color:white;
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px 25px;
    font-weight: bold;
    font-size: 21px;
}

div.contenu{

    background-color: white;
    margin: 30px 10% 90px 10% ;
    padding: 0px 30px 30px 30px;
    min-width: 350px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

h1{
    text-align: center;

}
p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
}
.centre{
    text-align: center;
    width: 100%;
}
div.categorie{
    margin-bottom: 0px;
    margin-top: 0px;

}
div.separateur{
    background-color: black;
    width: 300px;
    height: 1px;
    margin-left:auto ;
    margin-right: auto;
}
div.info{
    position: relative;
}
table.info{
    position: absolute;
    bottom: 0px; 
    width: 100%; 
    color: white; 
    background-color: #6C829DC0; 
    height: 80px;
}
table.info td{
    text-align: center;
    vertical-align: top;
}
table.info th{
    vertical-align: bottom;
}
img.info{
    display:block;
    max-height: 450px;
    object-fit: cover;
    min-height: 200px;
}
div.colonne{
    margin-top: 20px;
}

div.colonne1{
    
    width: 45%;
    display: inline-block;
}

div.colonne2{
    
    float: right;
    width: 45%;
}
div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 5px solid #6C829D;
}

div.tab1 p{
    border: 1px solid lightgrey;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

table.prep p.numero{
    background-color: #6C829DC0;
    height: 25px;
    width: 25px;
    padding-top: 4px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0;
}
table.prep td{
    vertical-align: top;
}
table.prep td.t {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 30px;
}
table.prep tr{
    height: 40px;
}
